logs
ansibleLogs*

src/provisionment/main.tf
src/provisionment/join.sh
src/provisionment/.terraform*
src/provisionment/terraform.tfstate*

src/tests/s3/s3pod.yaml
src/tests/cpu_benchmarking/cpu_benchmarking_pod.yaml
src/tests/data_repatriation/repatriation_pod.yaml

src/tests/dlTest/train-mpi_3dGAN.yaml
src/tests/dlTest/main.tf
src/tests/dlTest/config
src/tests/dlTest/.terraform*
src/tests/dlTest/terraform.tfstate*
src/tests/dlTest/join.sh

src/tests/hpcTest/fdmnes
src/tests/hpcTest/main.tf
src/tests/hpcTest/config
src/tests/hpcTest/.terraform*
src/tests/hpcTest/terraform.tfstate*
src/tests/hpcTest/join.sh

src/__pycache__

src/tests/hpcTest/hosts
src/tests/dlTest/hosts
src/tests/hpcTest/hosts
